In [27]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [28]:
dataset = pd.read_excel('C:\\Users\\Dell\\OneDrive\\Masaüstü\\mlodev\\tablet5.xlsx')

In [29]:
dataset.head()

   url  Isletim_Sistemi  Islemci_Tipi  Cozunurluk  Bellek_Kapasitesi  Fiyat
0   46                0             2           1                  0   4160
1   47                2             6           8                  0   3500
2    9                2             6           8                  0   3800
3   59                0             3           2                  1   2899
4   53                0             4           3                  1   4400

In [30]:
X = dataset.iloc[:, 0:5].values
y = dataset.iloc[:, 5].values
y = y.reshape(-1, 1)

In [31]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [32]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [33]:
from sklearn.metrics import r2_score
ML_RSCORE = r2_score(y_test, y_pred)

In [34]:
print(ML_RSCORE)

0.17596451358781307

In [35]:
import joblib
joblib.dump(regressor, "C:\\Users\\Dell\\OneDrive\\Masaüstü\\mlodev\\multiple_linear_model.pkl")

['C:\\Users\\Dell\\OneDrive\\Masaüstü\\mlodev\\multiple_linear_model.pkl']